doctype html
html(lang="en" ng-app="app")
  head
    meta(charset="UTF-8")
    link(href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet")
    title nba

  body
    .well
      h1 HEADER
      p Lorem ipsum dolor sit amet.
      p live roload