@media (max-width: 767px)
  .table-striped > tbody > tr:nth-child(2n+1)
    background-color #d9edf7

  .btn-white
    .btn
      padding 1vw
      font-size 3vw
      width 100%

@media (min-width: 768px) and (max-width: 1199px)
  .table-striped > tbody > tr:nth-child(4n+4)
  .table-striped > tbody > tr:nth-child(4n+1)
    background-color #d9edf7

  .btn-white
    .btn
      font-size 2vw
      width 100%

@media (min-width: 1200px)
  .table-striped > tbody > tr:nth-child(2n+1)
    background-color #d9edf7
