/* GENERAL */
body
  padding 20px
  min-width 260px

.clear
  content ''
  display table
  clear both

  &.well
    width 100%

.float-left
  float left

.float-right
  float right



.btn-white
  .btn
    color #545454
    font-size 1.5vw
    line-height 1.5vw

    .glyphicon
      margin-right 10px
      line-height 18px
      top 2px



.mobile-table
  >tbody
    display inherit
    >tr
      display inherit
      >td
        display inherit



@import "media"
